<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		<!--BEGIN rtlCSS-->
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		<!--END rtlCSS-->
		<!--BEGIN styleCSSFiles-->
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		<!--END styleCSSFiles-->
	<style>













[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
				background-color: #6b8e23;
			}


[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
				background-color: #00C2C5;
			}


[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
				background-color: #4682B4;
			}


[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
				background-color: #7B68EE;
			}


[data-page=".global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
				background-color: #6B8E23;
			}


[data-page=".global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
				background-color: #5F9EA0;
			}


</style>
<style id='customCSS'>
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
				background-color: #6b8e23;
			}


[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
				background-color: #00C2C5;
			}


[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
				background-color: #4682B4;
			}


[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
				background-color: #7B68EE;
			}


[data-page=".global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
				background-color: #6B8E23;
			}


[data-page=".global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
				background-color: #5F9EA0;
			}
</style>
</head>
	<body class="{$stylename} function-menu" {$bodyattrs}>
	<!--BEGIN body-->
		<DIV id='header' class='simple-xt-tag' style='display: inline-block;'>header</DIV>
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								<!--BEGIN supertop_block-->
<nav class="navbar navbar-default
	bs-fullwidth-navbar
" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
			 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				<!--BEGIN logo_block-->
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-brick="logo" data-pageid="{$pageid}" {$logo_hiddenattr}>
		<SPAN id='logo'>Poolcats</SPAN>
	</A>
<!--END logo_block-->
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				<ul class="nav navbar-nav">
                <li class=""><a href="#">Suit</a></li>
            
                <li class=""><a href="#">Swimmer</a></li>
            
                <li class=""><a href="#">Payment</a></li>
            
                <li class=""><a href="#">Contact</a></li>
            
                <li class=""><a href="#">Swimmers Without Suits - Report</a></li>
            
                <li class=""><a href="#">Not Paid - Report</a></li>
            </ul>			</span>
				 
						</nav>
<!--END supertop_block-->
				</div>	
			
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
										</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										<!--BEGIN above-grid_block-->
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
<!--END above-grid_block-->
							
						<div class="r-grid">
										<!--BEGIN grid_block-->
<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class="			"
			 
	data-cellId="grid_c1" data-pageid="{$pageid}">
 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item" {$item_welcome_item} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">		
		<a id="itemlink" href="public_swimmer_list.aspx">
							<span class="glyphicon glyphicon-hand-right"></span>
						Swimmer		</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="23">
		Swimmer and all details	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item1" {$item_welcome_item1} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">		
		<a id="itemlink" href="public_swimmersuit_list.aspx">
							<span class="glyphicon glyphicon-earphone"></span>
						Suit		</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="18">
		Suit Table - hide?	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item3" {$item_welcome_item3} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">		
		<a id="itemlink" href="public_swimmerpayment_list.aspx">
							<span class="glyphicon glyphicon-shopping-cart"></span>
						Payment table - hide?		</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="0">
			</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item4" {$item_welcome_item4} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">		
		<a id="itemlink" href="public_swimmercontact_list.aspx">
							<span class="glyphicon glyphicon-shopping-cart"></span>
						Contact		</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="26">
		Swimmercontact description	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item2" {$item_welcome_item2} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">		
		<a id="itemlink" href="Swimmers_Without_Suits___Report_report.aspx">
							<span class="glyphicon glyphicon-calendar"></span>
						Swimmers Without Suits - Report		</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="43">
		Swimmers Without Suits - Report description	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item5" {$item_welcome_item5} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">		
		<a id="itemlink" href="Not_Paid___Report_report.aspx">
							<span class="glyphicon glyphicon-headphones"></span>
						Not Paid - Report		</a>
	</div>

		</div>

</td>
							</tr>
					
					</tbody>
				</table>
<!--END grid_block-->
							</div>
						
														
					</div>
				</div>
			</div>
		</div>
		<DIV id='footer' class='simple-xt-tag' style='display: inline-block;'>footer</DIV>
	<!--END body-->
	</body>
</html>
