<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		<!--BEGIN rtlCSS-->
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		<!--END rtlCSS-->
		<!--BEGIN styleCSSFiles-->
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		<!--END styleCSSFiles-->
	<style>
























[data-cellid="grid_footcell_field"][data-page="public_swimmersuit_list"][data-cellid="grid_footcell_field"][data-page="public_swimmersuit_list"][data-cellid="grid_footcell_field"][data-page="public_swimmersuit_list"] {
			white-space: nowrap;
		}





[data-cellid="grid_footcell_field1"][data-page="public_swimmersuit_list"][data-cellid="grid_footcell_field1"][data-page="public_swimmersuit_list"][data-cellid="grid_footcell_field1"][data-page="public_swimmersuit_list"] {
			white-space: nowrap;
		}

[data-cellid="grid_headcell_icons"][data-page="public_swimmersuit_list"][data-cellid="grid_headcell_icons"][data-page="public_swimmersuit_list"][data-cellid="grid_headcell_icons"][data-page="public_swimmersuit_list"] {
			width: 30px;
		}

[data-cellid="grid_cell_icons"][data-page="public_swimmersuit_list"][data-cellid="grid_cell_icons"][data-page="public_swimmersuit_list"][data-cellid="grid_cell_icons"][data-page="public_swimmersuit_list"] {
			white-space: nowrap;
		}
















































































</style></head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	<!--BEGIN body-->
		<DIV id='header' class='simple-xt-tag' style='display: inline-block;'>header</DIV>
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								<!--BEGIN supertop_block-->
<nav class="navbar navbar-default
	bs-fullwidth-navbar
" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
			 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				<!--BEGIN logo_block-->
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-brick="logo" data-pageid="{$pageid}" {$logo_hiddenattr}>
		<SPAN id='logo'>Poolcats</SPAN>
	</A>
<!--END logo_block-->
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				<ul class="nav navbar-nav">
                <li class=""><a href="#">Swimmer</a></li>
            
                <li class=""><a href="#">Contact</a></li>
            
                <li class=""><a href="#">Payment</a></li>
            
                <li class="active"><a href="#">Suit</a></li>
            
                <li class=""><a href="#">Swimmers Without Suits - Report</a></li>
            
                <li class=""><a href="#">Not Paid - Report</a></li>
            </ul>			</span>
				 
			 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-button-item>
	<span class="dropdown">
		<button type="button" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							<!--BEGIN exportselected_link-->
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >
				
		Export selected		
		</a>
	</li>
<!--END exportselected_link-->
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" >
				<a   href="public_swimmersuit_search.aspx" {$advsearchlink_attrs} >
				
		Advanced search		
		</a>
	</li>
							<!--BEGIN searchPanelTopButtons-->
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" >
				<a  id="showOptPanel{$id}" >
				
		Show search panel		
		</a>
	</li>
<!--END searchPanelTopButtons-->
							<!--BEGIN searchPanelTopButtons-->
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" >
				<a  id="hideOptPanel{$id}" >
				
		Hide search panel		
		</a>
	</li>
<!--END searchPanelTopButtons-->
							<li role="separator" class="divider"></li>							<!--BEGIN export_link-->
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" >
				<a  href="#" {$exportlink_attrs} >
				
		Export results		
		</a>
	</li>
<!--END export_link-->
							<li role="separator" class="divider"></li>							<!--BEGIN import_link-->
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" >
				<a  {$importlink_attrs} href="public_swimmersuit_import.aspx?{$crosstable_attrs}" >
				
		Import		
		</a>
	</li>
<!--END import_link-->
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
<!--BEGIN searchform_text-->
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
<!--END searchform_text-->
	<span class="input-group-btn">
	<!--BEGIN searchform_showall-->
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	<!--END searchform_showall-->
	<!--BEGIN searchform_search-->
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	<!--END searchform_search-->
	</span>
</div>
		
</span>			</span>
					</nav>
<!--END supertop_block-->
				</div>	
			
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								<!--BEGIN top_block-->
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		
            <ol class="breadcrumb">
                <li ><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Suit
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="#">Suit</a></li><li><a href="#">Swimmer</a></li><li><a href="#">Swimmers Without Suits - Report</a></li><li><a href="#">Payment</a></li><li><a href="#">Contact</a></li><li><a href="#">Not Paid - Report</a></li>
                        </ul>
                    </a>
                </li>
            </ol>
        		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c3" data-pageid="{$pageid}"	{$cell_top_c3}
	class=" r-ori-vert			col-md-12
	
">
		 
		<!--BEGIN mastertable_block-->
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	
</div>
<!--END mastertable_block-->		</div>					</div>
	</div>		
<!--END top_block-->
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										<!--BEGIN left_block-->
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
 


</td>
							</tr>
					
					</tbody>
				</table>
<!--END left_block-->
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										<!--BEGIN above-grid_block-->
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		<!--BEGIN firstAboveGridCell-->
		 
		<!--BEGIN add_link-->
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$addlink_attrs} href="public_swimmersuit_add.aspx" >
							Add new			</a>
</span>
<!--END add_link-->
	 
		<!--BEGIN inlineadd_link-->
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Inline Add			</a>
</span>
<!--END inlineadd_link-->
	 
		<!--BEGIN saveall_link-->
<span data-itemtype="inline_save_all" data-itemid="inline_save_all" {$item_inline_save_all} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" {$savealllink_attrs} {$savealllink_span} >
							Save all			</a>
</span>
<!--END saveall_link-->
	 
		<!--BEGIN cancelall_link-->
<span data-itemtype="inline_cancel_all" data-itemid="inline_cancel_all" {$item_inline_cancel_all} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-default   
	" {$cancelalllink_attrs} {$cancelalllink_span} >
							Cancel all			</a>
</span>
<!--END cancelall_link-->
			<!--END firstAboveGridCell-->	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" >
<span data-itemtype="details_found" data-itemid="details_found" data-pageid="1">Displaying <span class="bs-number">1</span> - <span class="bs-number">20</span> of <span class="bs-number">55</span></span>
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		
					<select class="form-control" id="recordspp1">
					    <option value="10" >10</option>
<option value="20" selected="">20</option>
<option value="30" >30</option>
<option value="50" >50</option>
<option value="100" >100</option>
<option value="500" >500</option>
<option value="All" >All</option>

					</select>
				
</span>	 
		<!--BEGIN print_friendly-->
<span class="bs-printpanel" id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				<li class="container-fluid">
					<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

		<!--BEGIN print_friendly_all-->
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="public_swimmersuit_print.aspx?all=1&amp;{$crosstable_attrs}" name="printScope">
									Print all pages							</label>
		</div>
		<!--END print_friendly_all-->
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="public_swimmersuit_print.aspx?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
	
	</div>				</li>
								<li class="divider" role="separator"></li>
															 
				<li class="container-fluid">
					<div>
	<label for="printPerPage{$id}">
					Records Per Page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				</li>
								<li class="divider" role="separator"></li>
															 
				<li class="container-fluid">
					<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-button-item>
	<a type="button" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				</li>
										</ul>
</span>
<!--END print_friendly-->
		</div>					</div>
	</div>		
<!--END above-grid_block-->
							
						<div class="r-grid">
										<!--BEGIN grid_block-->

<!--BEGIN message_block-->
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}></div>
<!--END message_block-->	<style>
@media (max-width: 767px) {
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id"]:before {
		content: "<span typeid="label" id1="public.swimmersuit" id2="id">Id</span>";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="swimmer_id"]:before {
		content: "<span typeid="label" id1="public.swimmersuit" id2="swimmer_id">Swimmer Id</span>";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="suit_type"]:before {
		content: "<span typeid="label" id1="public.swimmersuit" id2="suit_type">Suit Type</span>";
	}
	
	[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="suit_size"]:before {
		content: "<span typeid="label" id1="public.swimmersuit" id2="suit_size">Suit Size</span>";
	}
	
}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  bs-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" data-brick="grid"
	data-body-height="1"
>
						<thead>
			<!--BEGIN grid_header-->
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								bs-gridrow
							">
				 
					<!--BEGIN cellblock_grid_headcell_icons-->
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="public_swimmersuit_list"		data-control-cell
	
	>

	
	</th>
	<!--END cellblock_grid_headcell_icons-->
				 
					<!--BEGIN cellblock_grid_headcell_field-->
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$suit_type_class}
			"

			data-field="suit_type"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		<!--BEGIN suit_type_fieldheadercolumn-->
	<!--BEGIN suit_type_fieldheader-->
	<SPAN {$suit_type_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="suit_type">
	<span typeid="label" id1="public.swimmersuit" id2="suit_type">Suit Type</span>	
	</SPAN>
	<!--END suit_type_fieldheader-->
<!--END suit_type_fieldheadercolumn-->

	
	</th>
	<!--END cellblock_grid_headcell_field-->
				 
					<!--BEGIN cellblock_grid_headcell_field1-->
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$suit_size_class}
			"

			data-field="suit_size"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		<!--BEGIN suit_size_fieldheadercolumn-->
	<!--BEGIN suit_size_fieldheader-->
	<SPAN {$suit_size_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="suit_size">
	<span typeid="label" id1="public.swimmersuit" id2="suit_size">Suit Size</span>	
	</SPAN>
	<!--END suit_size_fieldheader-->
<!--END suit_size_fieldheadercolumn-->

	
	</th>
	<!--END cellblock_grid_headcell_field1-->
							</tr>
					 
					 
					
					<!--END grid_header-->
			</thead>
															<tbody>
					<!--BEGIN grid_row-->
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								bs-gridrow
							">
				 
					<!--BEGIN cellblock_grid_cell_icons-->
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="public_swimmersuit_list"		data-control-cell
	
	>

	 
		<!--BEGIN inline_save-->
<span data-itemtype="grid_inline_save" data-itemid="grid_inline_save" {$item_grid_inline_save} data-pageid="{$pageid}" data-record-id="{$recId}" data-button-item>
	<a type="button" class="btn-link   
	 glyphicon glyphicon-ok" {$inlinesavelink_attrs} title="Save" >		
				
								</a>
</span>
<!--END inline_save-->
	 
		<!--BEGIN inline_cancel-->
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-button-item>
	<a type="button" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancel" >		
				
								</a>
</span>
<!--END inline_cancel-->
	
	</td>
	<!--END cellblock_grid_cell_icons-->
				 
					<!--BEGIN cellblock_grid_cell_field-->
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$suit_type_class}
			"

			data-field="suit_type"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		<!--BEGIN suit_type_fieldcolumn-->
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="suit_type" >
<div class="field_black view-control form-control" typeid="view_suit_type"><span class="glyphicon glyphicon-text"></span>&nbsp;Suit Type</div>
</span>
<!--END suit_type_fieldcolumn-->	
	</td>
	<!--END cellblock_grid_cell_field-->
				 
					<!--BEGIN cellblock_grid_cell_field1-->
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$suit_size_class}
			"

			data-field="suit_size"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		<!--BEGIN suit_size_fieldcolumn-->
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="suit_size" >
<div class="field_black view-control form-control" typeid="view_suit_size"><span class="glyphicon glyphicon-text"></span>&nbsp;Suit Size</div>
</span>
<!--END suit_size_fieldcolumn-->	
	</td>
	<!--END cellblock_grid_cell_field1-->
							</tr>
					 
					
											<!--END grid_row-->
					</tbody>
													<tfoot>
			<!--BEGIN totals_row-->
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								bs-gridrow
							">
				 
					<!--BEGIN cellblock_grid_footcell_icons-->
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	<!--END cellblock_grid_footcell_icons-->
				 
					<!--BEGIN cellblock_grid_footcell_field-->
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$suit_type_class}
			"

			data-field="suit_type"
	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="public_swimmersuit_list"	
	>

	
	</td>
	<!--END cellblock_grid_footcell_field-->
				 
					<!--BEGIN cellblock_grid_footcell_field1-->
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$suit_size_class}
			"

			data-field="suit_size"
	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="public_swimmersuit_list"	
	>

	
	</td>
	<!--END cellblock_grid_footcell_field1-->
							</tr>
					
					<!--END totals_row-->
			</tfoot>
				</table>
<!--END grid_block-->
							</div>
						
										<!--BEGIN below-grid_block-->
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		<!--BEGIN pagination_block-->
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >

					<span data-itemtype="pagination" data-itemid="pagination" data-pageid="1">
						<nav class="text-center"><ul class="pagination" data-function="pagination1"><li class="active"><a href="#" pagenum="1">1</a></li><li class=""><a href="#" pagenum="2">2</a></li><li class=""><a href="#" pagenum="3">3</a></li></ul></nav>
					</span>
				
</span>
<!--END pagination_block-->
		</div>					</div>
	</div>		
<!--END below-grid_block-->
							
					</div>
				</div>
			</div>
		</div>
		<DIV id='footer' class='simple-xt-tag' style='display: inline-block;'>footer</DIV>
	<!--END body-->
	</body>
</html>
